<section class="contract">
  <div class="contract-container">
    <h2>Add a Contract</h2>

    <form>
      <div class="form-group">
        <label>ID client</label>
        <input class="form-control" ng-model="contract.id_client"></input>
      </div>
      <div class="form-group">
        <label>ID car</label>
        <input class="form-control" ng-model="contract.id_car"></input>
      </div>
      <div class="form-group">
        <label>Date begin</label>
        <input class="form-control" ng-model="contract.date_begin"></input>
      </div>
      <div class="form-group">
        <label>Date end</label>
        <input class="form-control" ng-model="contract.date_end"></input>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input class="form-control" ng-model="contract.price"></input>
      </div>
      <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
    </form>

  </div>
</section>
