<section class="contract">
  <div class="contract-container">
      <div class="li_contract">
        <h2>Contract</h2>
          <ol>
            <li ng-repeat='contract in contract'>{{contract._id}}
                <a href="/#/contract/{{contract._id}}"> <img src="/images/edit.png" alt=""></a>
                <a href="/#/contract/delete/{{contract._id}}"><img src="/images/del.png" alt=""></a>
            </li>
          </ol>
        </div>  
        <a href="/#/add_contract"><button><img src="/images/add.png" alt=""></button></a>
      </div>
</section>