doctype html
html(ng-app='rental_car')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/rental_car.js')
    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    script(type='text/javascript', src='/javascripts/anime.min.js')
    script(type='text/javascript', src='/javascripts/common.js')
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,500', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/main.css')
    body
      .wrap
        header
          .header
            .logo
              h3
                 a(href='/#/') SAVONOV
            input#menu-chekbox(type='checkbox', name='', value='')
            nav.nav(role='navigation')
              label.toggle-button(for='menu-chekbox', data-open='Menu', data-close='Close oncklick')
              ul.main-menu
               li
                  a(href='/#/')  HOME
                li
                  a(href='/#/about')  ABOUT US
                li
                  a(href='/#/contact')  CONTACT
               
        main
          section.top-slide
            .top-container
              .top_anime
                h2 We believe
              .top_anime
                h2 PERFECT PROJECT by SAVONOV
              .top_anime
                p consectetur adipisicing elit
              .top_anime
                p Lorem ipsum dolor sit amet dolor dolor
              .top_anime
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit
          block content
    
    
