<section class="contract">
  <div class="contract-container">
    <h2>Add a CAR</h2>

    <form>
      <div class="form-group">
        <label>Brand</label>
        <input class="form-control" ng-model="car.brand"></input>
      </div>
      <div class="form-group">
        <label>Color</label>
        <input class="form-control" ng-model="car.color"></input>
      </div>
      <div class="form-group">
        <label>State</label>
        <input class="form-control" ng-model="car.state"></input>
      </div>
      <div class="form-group">
        <label>Availability</label>
        <input class="form-control" ng-model="car.availability"></input>
      </div>
      <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
    </form>

  </div>
</section>