<section class="contract">
  <div class="contract-container">
      <div class="li_client">
          <h2>Client</h2>

          <ol>
            <li ng-repeat='client in client'>{{client.FIO}}
                <a href="/#/client/{{client._id}}"> <img src="/images/edit.png" alt=""></a>
                <a href="/#/client/delete/{{client._id}}"><img src="/images/del.png" alt=""></a>
            </li>
          </ol>
        </div>  
        <a href="/#/add_client"><button><img src="/images/add.png" alt=""></button></a>

  </div>
</section>