<section class="contract">
    <div class="contract-container">
        <h1>Прокат автомобілів</h1>
        <p>
                Ви  –  керівник  комерційної  служби  у  фірмі,  яка  займається  прокатом  автомобілів. 
                Ваше завдання – стеження за фінансовими показниками роботи  пункту  прокату.
                У Ваш автопарк входить певна кількість автомобілів різних марок, вартості та типів.
                 Кожний автомобіль має свою вартість прокату. В пункт прокату звертаються клієнти. 
                 Усі клієнти проходять обов’язкову реєстрацію, при якій про них збирається стандартна інформація 
                 (прізвище, ім’я, по батькові, адреса, телефон).
                Кожний   клієнт   може   звертатися   в   пункт   прокату   декілька разів.   
                Всі звернення клієнтів фіксуються, при цьому по кожній угоді запам’ятовуються дата видачі та очікувана дата повернення. 
                Вартість прокату автомобіля повинна залежати не тільки від самого автомобіля, 
                але й від тривалості його прокату, а також від року випуску.
                Також необхідно ввести систему штрафів за повернення автомобіля в неналежному стані і 
                систему знижок для постійних клієнтів.</p>
    </div>
</section>