<section class="home">
  <!-- <h2>HOME PAGE</h1> -->
  <div class="container_home">

    <div class="block block_car">
      <div class="head_block">

        <h3><img src="images/car.png" alt=""> CAR</h3>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, labore.</p>
      <a href="/#/car"><button>PAGE CAR</button></a>
    </div>

    <div class="block block_client">
      <div class="head_block">

        <h3>  <img src="images/client.png" alt=""> CLIENT</h3>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, labore.</p>
      <a href="/#/client"><button>PAGE CLIENT</button></a>
    </div>
    <div class="block block_contract">
      <div class="head_block">
        <h3><img src="images/contract.png" alt="">CONTRACT</h3>
      </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, labore.</p>
        <a href="/#/contract"><button>PAGE CONTRACT</button></a>

      </div>
    </div>
</section>
